#Java compiled files
*.class

#text Files
*.txt

#BlueJ files
*.ctxt

#Mobile Tools for Java
.mtj.tmp/

#Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#VS Code
.vscode/

#IntelliJ
.idea/

#Logs
*.logs

#os 
.DS_Store
Thumbs.db
